# ======================================================
# APP
# ======================================================

APP_NAME=Kairova
DEBUG=True
LOG_LEVEL=INFO

# ======================================================
# DATABASE
# ======================================================

DATABASE_URL=

# ======================================================
# REDIS
# ======================================================

REDIS_URL=redis://localhost:6379

# ======================================================
# SECURITY
# ======================================================

JWT_SECRET=

# ======================================================
# STRIPE
# ======================================================

STRIPE_SECRET=

# ======================================================
# API
# ======================================================

API_PREFIX=/api